   body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(112, 98, 98);
        margin: 20px;

    }

    header {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        padding: 20px;
        text-align: center;
    }
    

    nav a   {
 
            color: blue;
            margin: 0;
            text-decoration: none;
            font-size: 10px;


    }

    nav a:hover {

            text-decoration: underline;
            color: blue;

    }

    .fundo{

        display: flex;
        flex-direction: row;
        gap: 30px;
        width: 100%;
        height:auto;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;

    }

    .card{
        
       width: 280px;
       height: 400px;
       background-color: transparent;
       perspective: 1000px;

    }

  .card-interno {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
}

.card:hover .card-interno,
.card:active .card-interno {
    transform: rotateY(180deg);
}

   .card-frente {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.card-frente, .card-verso {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 13px;
    padding: 20px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    border: 2px solid transparent;
}

  .card-frente img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
}

   
.card-verso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    border-color: white;

    }

.card-verso p {
    font-size: 14px;
    line-height: 1.5;
    color: #ccc;
}

    .subtitulo {

        text-align: center;    
        
    }
